CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
cmake-build-debug/
cmake-build-release/

*.pyc

pyqrllib/_pyqrl\.so
pyqrllib/apiPYTHON_wrap\.cxx
pyqrllib/_pyqrllib\.so
pyqrllib/pyqrllib\.py
pyqrllib/_pyqrllibd\.so

goqrllib/apiGO_wrap\.cxx
goqrllib/goqrllib\.so
goqrllib/pyqrllib_gc\.c
goqrllib/pyqrllib\.go

\.cache/v/cache/lastfailed
src/tests_python/\.cache/v/cache/lastfailed

benchmark/keygen\.png
benchmark/sign\.png
benchmark/verify\.png
benchmark/speedup_sign\.png
benchmark/speedup_create\.png
benchmark/speedup_verify\.png

\.idea/workspace\.xml
