CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
cmake-build-debug/
cmake-build-release/

*.pyc

pyqrllib/_pyqrl\.so
pyqrllib/apiPYTHON_wrap\.cxx
pyqrllib/_pyqrllib\.so
pyqrllib/pyqrllib\.py
pyqrllib/_pyqrllib.so

goqrllib/apiGO_wrap\.cxx
goqrllib/goqrllib\.so
goqrllib/pyqrllib_gc\.c
goqrllib/pyqrllib\.go

\.cache/v/cache/lastfailed
tests/tests_python/\.cache/v/cache/lastfailed

benchmark/keygen\.png
benchmark/sign\.png
benchmark/verify\.png
benchmark/speedup_sign\.png
benchmark/speedup_create\.png
benchmark/speedup_verify\.png

googletest-src/
googletest-download/
googletest-build/
gtest_main\.pc
_pyqrllib\.so
gmock_main\.pc
gmock\.pc
gtest\.pc
qrllib_test

cmake-build-onlylib/
build/
\.idea/workspace\.xml
\.coverage
coverage\.xml
.eggs/
pyqrllib.egg-info/

cmake-build-relwithdebinfo/

cmake-build-minsizerel/

cmake-build-debug wtests/

\.idea/

*.so

pyqrllib/dilithium\.py

pyqrllib/dilithiumPYTHON_wrap\.cxx

pyqrllib/kyber\.py

pyqrllib/kyberPYTHON_wrap\.cxx

pyqrllib/qrlPYTHON_wrap\.cxx
.pytest_cache
tests/js/node_modules
tests/js/tmp/*.js
tests/js/tmp/*.wasm

\.npmrc
