[submodule "xmss-reference"]
	path = deps/xmss-reference
	url = https://github.com/jleni/xmss-reference
[submodule "PicoSHA2"]
	path = deps/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
[submodule "dilithium"]
	path = deps/dilithium
	url = https://github.com/theQRL/dilithium.git
[submodule "kyber"]
	path = deps/kyber
	url = https://github.com/theQRL/kyber.git
