sudo: required
dist: trusty
services: docker
language: cpp
python:
- '3.4'
cache:
  timeout: 600

cache:
  directories:
    - $HOME/Library/Caches/Homebrew

cache:
  - pip
  - apt

addons:
  apt:
    packages:
    - git
    - python3
    - python3-pip

########################
########################
jobs:
  include:
  ########################
  - stage: prepare cache
    os: linux
    script:
    - echo

#  - stage: prepare cache
#    os: osx
#    if: branch = master
#    script: "./travis/prepare.sh"


  ######################## XENIAL - OLD COMPILER (Useful for Raspberry Pi)
  - stage: build+test
    os: linux
    env:
    - CMAKE_ARGS='-DBUILD_TESTS=ON'
    - TEST='TRUE'
    - CC_VER="4.9"
    - PLATFORM='xenial'
    script: "./travis/build.sh"

  ######################## XENIAL - TESTS
  - stage: build+test
    os: linux
    env:
    - CMAKE_ARGS='-DBUILD_TESTS=ON'
    - TEST='TRUE'
    - CC_VER="5"
    - PLATFORM='xenial'
    script: "./travis/build.sh"

  ######################## XENIAL - PYQRLLIB
  - stage: build+test
    os: linux
    env:
    - CMAKE_ARGS='-DBUILD_PYTHON=ON'
    - CC_VER="5"
    - PLATFORM='xenial'
    script: "./travis/build.sh"

  ######################## XENIAL-EMSCRIPTEN
  - stage: build+test
    os: linux
    env:
    - PLATFORM='xenial-emscripten'
    script: "./travis/build.sh"

#  ######################## OSX + TESTS
#  - stage: build+test
#    os: osx
#    if: branch = master
#    env:
#    - CMAKE_ARGS='-DBUILD_TESTS=ON'
#    - TEST='TRUE'
#    script:
#    - "./travis/build.sh"
#
#  ######################## OSX - PYQRLLIB
#  - stage: build+test
#    os: osx
#    if: branch = master
#    env:
#    - CMAKE_ARGS='-DBUILD_PYTHON=ON'
#    script:
#    - "./travis/build.sh"

#  ########################
#  - stage: test_deployment
#    script: echo "TODO..."

  ########################
  - stage: publish
    if: tag =~ ^v
    os: linux
    env:
    - CC_VER="5"
    - PLATFORM='xenial'
    - DEPLOY='TRUE'
    script:
    - sudo pip3 install -U pip setuptools twine
    - "./travis/build.sh"

    deploy:
      provider: pypi
      skip_cleanup: true
      user: jleni
      password:
        secure: LEHilAb+FXCKVvd1/AEmVlUPyf8sOVYt/rMLZPr3bMEiwgK//lFJWlBPli9+G9ed4HjDpq/YFGpTKsRs9Etl4MWSnEJwYJPL0qBTWRCvEn1Py1kTI68dqRKR6oLpssj2BsLpuZvLt+2kE9PVvLSTGbwUGrnvob2AX2suUZcxnZD2q25TOnbZS2/M2F7SOy/0rVn6jlvGPwhMbdsmiLBStsx4rdiu84e1aryUDELSNTP7GtX61dmZs3et2Tpfz7uHXF++mxuT4hzjRe6mUKbtBekCy5EuAzI8vUTmys/m0llmB++gORSLeM22jfpGyfT7AxlkAxO3vlX3XLIythPIYcAEEjBA2xdt8GRlLWH3XLJJYWVEQgdA21sQLuQEGBepc44oKsdUH5t1Ok7kBYjvtQWJCa1/gv+GowKnU5159iJe6MBL9iJqzaz+tbGqKbQHpCvkPlNmipEBKVUANIx7IoXc/tHruCJtjp/vX4hbbOcT4674UaCcHtWpM3ME6EafC2r/nHNNA7rLoX1CP0RCrbSZJOGzhTZlyY9lB0qAmJe+3NDVSiY+6wO2qDFDN7nSl7BUBppPWHkhCVdXq3647RJB31djCguNfnjJLT7hoKkFTMFrrpkpvYUdPkJUAPqh3VZdl+esfMQnHctqBk0D8B+0lX6IJ9v8I5R/kyBs7/g=
      on:
        tags: true
        all_branches: true

  ########################
  - stage: publish
    if: tag =~ ^v
    os: linux
    env:
    - PLATFORM='xenial-emscripten'
    script: "./travis/build.sh"

    before_deploy: npm version

    deploy:
      provider: npm
      skip_cleanup: true
      email: "info@theqrl.org"
      api_key: $NPM_API_KEY
      on:
        tags: true
        all_branches: true
